.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

h1 {
  font-size: 50px;
}

.weather-app {
  width: 50rem;
  height: 40rem;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.weather-app input {
  width: 15rem;
  height: 2rem;
}

.btn {
  margin-left: 10px;
  height: 2.4rem;
}
