.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

h1 {
  font-size: 50px;
}

.weather-app {
  margin-top: 20px;
  margin-bottom: 10rem;
}

.btn {
  margin-left: 10px;
}
